<template name="all_polls">
  <section id="live_polls" class="all_listed">
    <div class="listings_title">
      <span>
        <h1>Live Polls</h1>
      </span>
    </div>
    {{#if countpolls}}
    <div class="container">
      <div class="row polls_page">
        {{#each live_polls}}
          <div class="col-md-4">
            <div class="poll_tile">
              <div class="icon-holder">
                <img src="vote-icon.png" alt="" class="icon">
              </div>
              <h4 class="heading">{{this.poll.name}}</h4>
              <div class="description">
                <div class="col-xs-12 vote_front">
                  <p class="title_poll_front">Votes</p>
                  <p>{{get_votes}}</p>
                </div>
                <a href="{{pathFor route='vote'}}" class="fui-export btn btn-info open_vote_btn"> Vote</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    {{else}}
    <div class="container">
      <div class="no_polls">
        <br>
        <h1>Nothing here<br>:(</h1>
        <a href="#create" class="btn btn-info btn-lg btn-block no_pollsbtn">Create a Poll</a>
      </div>
    </div>
    {{/if}}
  </section>
  <section id="past_polls" class="past_polls">
    <div class="past_title">
      <span>
        <center><h1>Past Polls</h1></center>
      </span>
    </div>
    <div class="container">
      <div class="row polls_page">
        {{#each past_polls}}
          <div class="col-md-4">
            <div class="poll_tile">
              <div class="icon-holder past_icon">
                <img src="vote-icon.png" alt="" class="icon">
              </div>
              <h4 class="heading">{{this.poll.name}}</h4>
              <div class="description">
                <div class="col-xs-12 vote_front">
                  <p class="title_poll_front">Votes</p>
                  <p>{{get_votes}}</p>
                </div>
                <a href="{{pathFor route='voted'}}" class="fui-export btn btn-info open_vote_btn"> Results</a>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </section>
</template>
