<template name="vote">
  <div class="vote_page">
    {{> vote_header}}
    {{#if poll.isactive}}
      <div class="vote_content">
        <h6 class="vote_small">Vote</h6>
        {{#if option_count poll.options.length}}
          <!--TODO: Change color randomly for options -->
          <div class="two_options row">
            <div pollid="{{this._id}}" id="{{single_option 0 poll.options}}" class="option_one option_click">
              <h3 pollid="{{this._id}}" id="{{single_option 0 poll.options}}" class="option_display">{{single_option 0 poll.options}}</h3>
            </div>
            <div class="between">
              <h2>VS.</h2>
            </div>
            <div pollid="{{this._id}}" id="{{single_option 1 poll.options}}" class="option_two option_click">
              <h3 pollid="{{this._id}}" id="{{single_option 1 poll.options}}" class="option_display">{{single_option 1 poll.options}}</h3>
            </div>
        	</div>
        {{else}}
          <div class="multi_options row">
          {{#each poll.options}}
            <button pollid="{{../_id}}" id="{{this}}" class="btn multi_option option_click"><h3 id="{{this}}">{{this}}</h3></button>
          {{/each}}
          </div>
        {{/if}}
      </div>
    {{else}}
      {{> not_ready}}
    {{/if}}
  </div>
</template>

<template name="vote_header">
  <ul class="rainbow_border">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="poll_title">
    <h1>{{poll.name}}</h1>
  </div>

  <!-- If there is a Description, display it -->
  {{#if poll.description}}
    <div class="poll_description">
      <h4>{{poll.description}}</h4>
    </div>
  {{/if}}
</template>

<template name="not_ready">
  <div class="vote_notready demo-3">
    <h3>Your Poll is not live yet!</h3>
    <div class="row">
      <div class="col-xs-6 vote_why">
        <h6>Why?</h6>
        <p>OpenPolls utilizes the Ethereum Blockchain to create a provably fair and transparent voting system. This means that thousands of computers around the world are there to verify your poll. For this work these computers need to be compensated. Which is why you need to send a small amount of Ether to this network.</p>
      </div>
      <div class="col-xs-6 vote_send">
        {{#if poll.ready}}
        <button class="btn btn-lg btn-success start_poll">Start Poll</button>
        <div id="patience"></div>
        <ul class="bokeh">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        {{else}}
        <h6>Please send {{contract_cost}} Ether to:</h6>
        <div id="eth_address">
          <button class="btn btn-lg btn-success get_address">Get Address</button>
        </div>
        <p style="font-size: 12px; margin-top: 10px;">(As soon as we receive the Ether, your poll will go live)</p>
        <ul class="bokeh">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        {{/if}}
      </div>
    </div>
  </div>
</template>
