<template name="footer">

  <section id="footer" class="footer_section">
    <div class="footer_title">
      <span>
        <h1>About</h1>
      </span>
    </div>
    <div class="footer_content">
      <h5>PublicVotes was created by <a href="https://twitter.com/domschiener">Dominik Schiener</a>. It was built as part of on-going research about a Proof of Concept for a <a href="https://medium.com/college-cryptocurrency-network/reposium-dco-the-future-of-wikipedia-4be080cfa027">Decentralized Collaborative Organization for Wikipedia</a>. <br><br>The code is available on <a href="https://github.com/domschiener/openvotes">Github</a> and <a href="https://medium.com/@DomSchiener/publicvotes-ethereum-based-voting-application-3b691488b926#.svhivtc9t">here is a blog post</a> explaining how PublicVotes works.</h5>
    </div>
  </section>
</template>
