<template name="more_options">
  <span id="rmv_option" class="fui-cross-circle btn btn-danger"></span>
  <span id="add_option" class="fui-plus-circle btn btn-success"></span>
</template>

<template name="timelimit">
  <select id="hour_limit" class="form-control select select-primary time_limit_input" data-toggle="select">
    {{#each hours}}
      <option value="{{this}}">{{this}} Hour(s)</option>
    {{/each}}
  </select>
  <select id="day_limit" class="form-control select select-primary time_limit_input" data-toggle="select">
    {{#each days}}
      <option value="{{this}}">{{this}} Day(s)</option>
    {{/each}}
  </select>
</template>

<template name="poll_listed">
  {{#if countpolls}}
  <div class="row polls_page">
    {{#each six_polls}}
      <div class="col-md-4">
        <div class="poll_tile">
          <div class="icon-holder">
            <img src="vote-icon.png" alt="" class="icon">
          </div>
          <h4 class="heading">{{this.poll.name}}</h4>
          <div class="description">
            <div class="col-xs-12 vote_front">
              <p class="title_poll_front">Votes</p>
              <p>{{get_votes}}</p>
            </div>
            <a href="{{pathFor route='vote'}}" class="fui-export btn btn-info open_vote_btn"> Vote</a>
          </div>
        </div>
      </div>
    {{/each}}
    <div class="col-xs-12">
      <a href="{{pathFor route='polls'}}" class="btn btn-lg btn-info btn-block more_pollsbtn">More Polls</a>
    </div>
  </div>

  {{else}}
  <div class="row polls_page">
    <div class="container">
      <div class="no_polls">
        <h1>Nothing here<br>:(</h1>
        <a href="#create" class="btn btn-info btn-lg btn-block no_pollsbtn">Create a Poll</a>
      </div>
    </div>
  </div>
  {{/if}}
</template>
