body,
html {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background_img {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(37,45,68, 0.9);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.landing {
  min-height: 100%;
  position: relative;
  background: url('background2.jpg') no-repeat center;
  background-size:cover;
  z-index: 0;
  overflow: hidden;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.landing_title {
  color: #fff;
  margin-bottom: 100px;
}

.landing_title h1 {
  font-size: 100px;
}

.landing_description {
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
}

.create_btn {
  font-size: 24px;
  border-radius: 6px;
  max-width: 60%;
  text-align: center;
}

/**
  *   Active Polls Home Section
  **/

.polls_listed {
  position: relative;
  width: 100%;
  min-height: 100%;
  background: #26C281;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.listings_title {
  position: absolute;
  width: 100%;
  height: 14rem;
  background: #1e9b67;
  -webkit-box-shadow: 0px 20px 23px -9px rgba(30,155,103,0.72);
  -moz-box-shadow: 0px 20px 23px -9px rgba(30,155,103,0.72);
  box-shadow: 0px 20px 23px -9px rgba(30,155,103,0.72);
}

.listings_title span {
  color: #fff;
  text-align: center;
}

.polls_content {
  margin-top: 150px;
  position: absolute;
}

.open_vote_btn {
  background-color: #6b238f !important;
}

.polls_page {
	margin: 200px 0;
}

.poll_tile {
	width: 100%;
	height: 320px;
	margin: 40px 0;
  padding: 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.poll_tile .icon-holder {
	position: relative;
	top: 50px;
	display: inline-block;
	margin-bottom: 40px;
	padding: 10px;
	background: #26C281;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.poll_tile .heading {
	position: relative;
	top: 30px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: #fff;
}

.poll_tile .icon-holder > img.icon {
	width: 40px;
}

.poll_tile:hover {
	border-color: #072619;
}

.poll_tile:hover .icon-holder {
	top: -30px;
}

.poll_tile:hover .heading {
	top: -60px;
}

.poll_tile .description {
  width: 80%;
	margin: 0 auto;
  padding: 0;
  color: #fff;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}

.title_poll_front {
  font-size: 25px;
  font-weight: 200;
}

.poll_tile:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.vote_front, .timer_front {
  margin-top: -40px;
}

.no_polls {
  position: relative;
  width: 50%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  margin-top: 150px;
}

.no_pollsbtn {
  margin: 0 auto;
  width: 50%;
  font-size: 30px;
  margin-top: 80px;
}

.more_pollsbtn {
  position: relative;
  width: 30%;
  font-size: 22px;
  margin: 0 auto 10px;
  background-color: #6b238f !important;
}

.footer_section {
  position: absolute;
  width: 100%;
  height: 45.90rem;
  background: #759695;
  margin: 0;
  padding: 0;
}

.footer_title {
  position: absolute;
  width: 100%;
  height: 14rem;
  background: #3b6968;
  -webkit-box-shadow: 0px 20px 23px -9px rgba(59,105,104,0.72);
  -moz-box-shadow: 0px 20px 23px -9px rgba(59,105,104,0.72);
  box-shadow: 0px 20px 23px -9px rgba(59,105,104,0.72);
}

.footer_title span {
  color: #fff;
  text-align: center;
}

.footer_content {
  position: relative;
  margin: 200px auto 0;
  color: #fff;
  text-align: center;
  width: 70%;
}

.footer_content a {
  color: #2f5453;
}
