.all_listed {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 60rem;
  background: #26C281;
  margin: 0;
  padding: 0;
}

.past_polls {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 75.90rem;
  background: #197F93;
  margin: 0;
  padding: 0;
}

.past_icon {
  background: #197F93 !important;
}

.past_title {
  position: absolute;
  width: 100%;
  height: 14rem;
  background: #007188;
  color: #fff;
  -webkit-box-shadow: 0px 20px 23px -9px rgba(0,113,136,0.72);
  -moz-box-shadow: 0px 20px 23px -9px rgba(0,113,136,0.72);
  box-shadow: 0px 20px 23px -9px rgba(0,113,136,0.72);
}
